body {
	font-family: lucida grande, Helvetica, Verdana, Arial, sans-serif;
	font-size: 14pt;
}

h1 {
	font-family: georgia, lucida grande, Helvetica, Verdana, Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
}

h1.homepage {
	padding-top: 1.4em;
	display: block;
}

pre { border: 1px solid grey; background: #EEEEEE; padding: 0.1em 0.8em; font-size: 0.9em;}

pre code {border: none; padding: 0; font-size: 1em;}

code {border: 1px solid grey; background: #EEEEEE; padding: 0.1em 0.8em; font-size: 0.9em;}

#container {
text-align: center;
}

a.home_link {
	font-size: 0.9em;
	font-variant: small-caps;
	font-weight: bold;
	color: silver;
}

a.home_link:hover {
	background-color: black;
}

ul.tags {
	list-style: none;
	display: inline;
}

ul.tags li {
	display: inline;
}

#main_panel {
	width: 550px;
	margin: 0 auto;
	text-align: left;
	font-size: 0.8em;
}