body {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, sans-serif;
	background-color: white;
}

h1 {
	font-family: georgia, lucida grande, Helvetica, Verdana, Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 1.4em;
	border-bottom: 1px solid grey;
}

pre {
  width: 525px;
}

pre, code { 
	border: 1px solid rgb(222, 222, 222);
	background-color: rgb(248, 248, 255);
	color: rgb(68, 68, 68);
	line-height: 1.3em;
	margin: 1em 0px;
	padding: 0.5em;
	overflow: auto;
	font-size: 1.05em;
}

pre code {border: none; padding: 0; margin: 0; font-size: 1em; line-height: 1em;}

#container {
  text-align: center;
}

a.home_link {
	font-size: 1.05em;
	font-variant: small-caps;
	font-weight: bold;
	color: grey;
}

a.home_link:hover {
  color: crimson;
	text-decoration: none;
}

div#tags {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: 1.2em 0;
	margin: 2em 0;
	text-align: center;
}

.tag_head {
	font-size: 1.3em;
	font-weight: bold;
	font-variant: small-caps;
}

ul {
  width: 475px;
}

li {
  padding: 0.25em 0;
}

ul.tags {
	list-style: none;
	display: inline;
	margin-left: 1em;
}

ul.tags li {
	display: inline;
	padding-right: 1em;
}

ul.tag_list {
	list-style: none;
	text-align: center;
}

ul.tag_list li {
	padding: 0.2em 0;
}

ul.post_list {
	list-style: none;
}

ul.post_list li {
	padding: 0.2em 0;
}

#main_panel {
	width: 550px;
	margin: 0 auto;
	text-align: left;
	line-height: 1.4em;
	padding: 1em;
	background-image:url('../images/paper_texture1a.gif');
  background-repeat:repeat;
  border: 1px solid #EEEEEE;
	min-height: 500px;
}