body {
	font-family: lucida grande, Helvetica, Verdana, Arial, sans-serif;
	font-size: 14pt;
}

h1 {
	font-family: georgia, lucida grande, Helvetica, Verdana, Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
}

h1.homepage {
	padding-top: 1.4em;
	display: block;
}

pre, code { 
	border: 1px solid rgb(222, 222, 222);
	background-color: rgb(248, 248, 255);
	color: rgb(68, 68, 68);
	line-height: 1.3em;
	margin: 1em 0px;
	padding: 0.5em;
	overflow: auto;
	font-size: 0.9em;
}

pre code {border: none; padding: 0; margin: 0; font-size: 1em; line-height: 1em;}

#container {
text-align: center;
}

a.home_link {
	font-size: 0.9em;
	font-variant: small-caps;
	font-weight: bold;
	color: silver;
}

a.home_link:hover {
	background-color: black;
	text-decoration: none;
}

ul.tags {
	list-style: none;
	display: inline;
}

ul.tags li {
	display: inline;
}

ul.tag_list {
	list-style: none;
	text-align: center;
}

ul.tag_list li {
	padding: 0.2em 0;
}

ul.post_list {
	list-style: none;
}

ul.post_list li {
	padding: 0.2em 0;
}

#main_panel {
	width: 550px;
	margin: 0 auto;
	text-align: left;
	font-size: 0.8em;
}