<!DOCTYPE html>
<html>
  <head>
    <title>blog.lizconlan.com > sandbox</title>
    <link rel="stylesheet" href="css/screen.css">
    <meta name="google-site-verification" content="6kpt8YynfvFWVurh4KsTkvdcd037FwJGM9HDL_eih3w" />
    <base href="/sandbox/" />
  </head>
  <body>
    <header>
      <div id="header">
        <h1><a href="http://lizconlan.com">lizconlan.com</a></h1>
        <nav>
          <ul>
            <li>
              <a href="http://blog.lizconlan.com">blog</a>
            </li>
            <li>
              <a class="current" href="http://blog.lizconlan.com/sandbox/">sandbox</a>
            </li>
            <li>
              <a href="http://code.lizconlan.com">code</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main">
      <h2>{{ page.title }}</h2>
      <article id="index">
        {{ content }}
      </article>
      <footer>
        &copy 2011 - {{ site.time | date: "%Y" }} Liz Conlan 
      </footer>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17686673-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>