<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | sandbox</title>
    <link rel="stylesheet" href="css/screen.css">
    <meta name="description" value="{{ page.description }}" />
    <meta name="keywords" value="{{ page.keywords }}" />
  </head>
  <body>
    <div id="container">
      <a href="index.html" class="home_link">Home</a>
      <div id="main_panel">
        <h1>{{ page.title }}</h1>
        {{ content }}
        
        <div id="tags">
          <span class="tag_head">tags:</span>
          <ul class="tags">
          {% for category in page.categories %}
            <li><a href="tags/{{ category | replace:" ", "-") }}.html" title="posts tagged {{ category }}">{{ category }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17686673-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>