<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/syntax.css">
  </head>
  <body>
    <div id="container">
      <a href="index.html" class="home_link">Home</a>
      <div id="main_panel">
        <h2>{{ page.title }}</h2>
        {{ content }}
        
        <div id="tags">
          tags:
          <ul>
          {% for category in page.categories %}
            <li><a href="tags/{{ category }}.html">{{ category }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>